---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */


/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: #333;
$heading-color: #000;
$link-color: #000;

@import "ed";
@import "syntax";

/* Resume-style layout: tight spacing, long vertical format */
body {
  font-size: 14px;
  line-height: 1.4;
}

.wrap {
  margin-left: 0;
}

.sidebar {
  display: none;
}

.sidebar-toggle {
  display: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 20px;
}

.content {
  font-size: 14px;
  line-height: 1.5;
  max-width: 100%;
}

/* Tight typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  line-height: 1.3;
  font-weight: 600;
}

h1 {
  font-size: 1.8em;
  margin-top: 0;
}

h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.3em;
  margin-top: 1.5em;
  margin-bottom: 0.8em;
}

h3 {
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

p {
  margin: 0.5em 0;
  line-height: 1.5;
}

ul, ol {
  margin: 0.5em 0;
  padding-left: 1.5em;
}

li {
  margin: 0.3em 0;
  line-height: 1.5;
}

hr {
  margin: 1.5em 0;
  border: none;
  border-top: 1px solid #ddd;
}

/* Resume-style sections */

.skills-showcase {
  margin: 1em 0;
  
  h2 {
    font-size: 1.3em;
    margin-bottom: 0.8em;
  }
  
  .skills-grid {
    display: block;
    margin-top: 0.5em;
    
    .skill-category {
      margin: 0.8em 0;
      padding: 0;
      border: none;
      
      h3 {
        font-size: 1em;
        margin-bottom: 0.3em;
        font-weight: 600;
      }
      
      p {
        line-height: 1.5;
        margin: 0.3em 0;
        font-size: 0.95em;
      }
    }
  }
}

.cta-section {
  margin: 1.5em 0;
  padding: 0;
  border: none;
  
  h2 {
    margin-bottom: 0.5em;
  }
  
  p {
    margin: 0.4em 0;
  }
  
  .cta-button {
    display: inline;
    margin: 0 0.5em;
    padding: 0;
    border: none;
    text-decoration: underline;
    
    &:hover {
      background: transparent;
      color: #000;
      text-decoration: none;
    }
  }
}

/* Resume-style introduction */
.introduction {
  margin: 0 0 1.5em 0;
  
  h1 {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 0.5em;
    margin-top: 0;
  }
  
  p {
    line-height: 1.5;
    margin: 0.5em 0;
  }
}

/* Professional mark styling - removed colored marks */
.mark {
  font-weight: 600;
}

/* Resume-style project list */
.toc {
  margin: 1em 0;
  
  h2 {
    margin-bottom: 0.8em;
  }
  
  .texts {
    list-style: none;
    padding: 0;
    
    .text-title {
      margin: 0.5em 0;
      
      a {
        display: block;
        padding: 0;
        border: none;
        text-decoration: none;
        color: $heading-color;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Social links styling */
.sidebar-item {
  .social-links {
    margin-top: 0.5em;
    
    a {
      color: $link-color;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
    
    .separator {
      margin: 0 0.5em;
      color: #999;
    }
  }
  
  h3 {
    font-size: 1em;
    margin-bottom: 0.5em;
    color: $heading-color;
    font-weight: 600;
  }
}

/* Resume-style header */
.masthead {
  margin-bottom: 1.5em;
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
  
  .masthead-title {
    text-align: center;
    margin: 0;
    
    img {
      display: block;
      margin: 0 auto 0.5em;
      width: 80px;
      height: 80px;
    }
    
    a {
      font-size: 1.8em;
      font-weight: 600;
      text-decoration: none;
    }
    
    small {
      display: block;
      font-size: 0.9em;
      margin-top: 0.3em;
      font-weight: normal;
    }
  }
}

/* Tight spacing for all sections */
section, article, .page {
  margin: 0;
  padding: 0;
}

/* Resume-style responsive */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
  
  .introduction h1 {
    font-size: 1.5em;
  }
}
