---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */


/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: #000;
$heading-color: #000;
$link-color: #000;
$border-color: #000;

@import "ed";
@import "syntax";

/* Resume-style layout: tight spacing, long vertical format */
body {
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
}

.wrap {
  margin-left: 0;
}

.sidebar {
  display: none;
}

.sidebar-toggle {
  display: none;
}

/* Site navigation */
.site-nav {
  text-align: center;
  margin: 0 0 2em 0;
  padding: 1em 0;
  border-bottom: 2px solid $border-color;
  font-size: 1.1em;
  font-weight: 600;
  
  a {
    color: $link-color;
    text-decoration: underline;
    margin: 0 0.8em;
    font-weight: 600;
    
    &:hover {
      text-decoration: none;
      font-style: italic;
    }
  }
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 60px;
  text-align: left;
}

.content {
  font-size: 18px;
  line-height: 1.6;
  max-width: 100%;
  text-align: left;
}

/* Tight typography - left aligned */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  line-height: 1.3;
  font-weight: 600;
  text-align: left;
}

h1 {
  font-size: 2.5em;
  margin-top: 0;
}

h2 {
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-bottom: 2px solid $border-color;
  padding-bottom: 0.3em;
  margin-top: 1.5em;
  margin-bottom: 0.8em;
  text-align: left;
  color: $heading-color;
  font-weight: 700;
}

h3 {
  font-size: 1.4em;
  margin-top: 1em;
  margin-bottom: 0.4em;
  text-align: left;
}

h4 {
  font-size: 1.2em;
  margin-top: 0.8em;
  margin-bottom: 0.3em;
  text-align: left;
}

p {
  margin: 0.5em 0;
  line-height: 1.5;
  text-align: left;
}

ul, ol {
  margin: 0.5em 0;
  padding-left: 1.5em;
  text-align: left;
}

li {
  margin: 0.3em 0;
  line-height: 1.5;
  text-align: left;
}

hr {
  margin: 1.5em 0;
  border: none;
  border-top: 1px solid $border-color;
}

/* Content styling */
.content {
  max-width: 100%;
  margin: 0 auto;
}

/* Enhanced typography for links */
a {
  color: $link-color;
  text-decoration: underline;
  font-weight: 500;
  
  &:hover {
    font-weight: 600;
    font-style: italic;
  }
}

/* Enhanced typography */
strong {
  font-weight: 700;
}

em {
  font-style: italic;
  font-weight: 500;
}

/* Company names and important terms */
h3 {
  font-weight: 700;
  
  a {
    font-weight: 700;
  }
}

h4 {
  font-weight: 600;
  font-style: italic;
}

/* Resume-style sections */

.skills-showcase {
  margin: 1em 0;
  
  h2 {
    font-size: 1.3em;
    margin-bottom: 0.8em;
  }
  
  .skills-grid {
    display: block;
    margin-top: 0.5em;
    
    .skill-category {
      margin: 0.8em 0;
      padding: 0;
      border: none;
      
      h3 {
        font-size: 1em;
        margin-bottom: 0.3em;
        font-weight: 600;
      }
      
      p {
        line-height: 1.5;
        margin: 0.3em 0;
        font-size: 0.95em;
      }
    }
  }
}

.cta-section {
  margin: 1.5em 0;
  padding: 0;
  border: none;
  text-align: left;
  
  h2 {
    margin-bottom: 0.5em;
    text-align: left;
  }
  
  p {
    margin: 0.4em 0;
    text-align: left;
  }
  
  .cta-button {
    display: inline;
    margin: 0 0.5em;
    padding: 0;
    border: none;
    text-decoration: underline;
    
    &:hover {
      background: transparent;
      color: #000;
      text-decoration: none;
    }
  }
}

/* Homepage introduction */
.introduction {
  text-align: center;
  margin: 0 0 2em 0;
  padding: 0;
  
  h1 {
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: 0.5em;
    margin-top: 0;
  }
  
  p {
    line-height: 1.6;
    margin: 0.5em 0;
    
    a {
      color: $link-color;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Professional mark styling - removed colored marks */
.mark {
  font-weight: 600;
}

/* Resume-style project list */
.toc {
  margin: 1em 0;
  
  h2 {
    margin-bottom: 0.8em;
  }
  
  .texts {
    list-style: none;
    padding: 0;
    
    .text-title {
      margin: 0.5em 0;
      
      a {
        display: block;
        padding: 0.5em;
        border-left: 3px solid $border-color;
        text-decoration: underline;
        color: $heading-color;
        font-weight: 500;
        
        &:hover {
          font-weight: 600;
          font-style: italic;
          text-decoration: none;
        }
      }
    }
  }
}

/* Social links styling */
.sidebar-item {
  .social-links {
    margin-top: 0.5em;
    
    a {
      color: $link-color;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
    
    .separator {
      margin: 0 0.5em;
      color: #999;
    }
  }
  
  h3 {
    font-size: 1em;
    margin-bottom: 0.5em;
    color: $heading-color;
    font-weight: 600;
  }
}

/* Resume header - centered name and title */
.resume-header {
  text-align: center;
  margin: 0 0 1.5em 0;
  padding: 0;
  
  h1 {
    font-size: 2.2em;
    font-weight: 600;
    margin: 0 0 0.3em 0;
    padding: 0;
  }
  
  .resume-title {
    font-size: 1em;
    font-weight: normal;
    margin: 0.3em 0;
    padding: 0;
    color: $text-color;
  }
  
  .resume-meta-top {
    margin: 0.5em 0 0 0;
    font-size: 0.95em;
    
    a {
      color: $link-color;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.resume-section-header {
  margin: 0 0 1.5em 0;
  padding: 0;
  text-align: left;
  
  h2 {
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.3em;
    margin: 0 0 0.8em 0;
    text-align: left;
  }
  
  .resume-meta {
    margin: 0.5em 0;
    line-height: 1.6;
    text-align: left;
    
    a {
      color: $link-color;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Hide default masthead */
.masthead {
  display: none;
}

/* Tight spacing for all sections */
section, article, .page {
  margin: 0;
  padding: 0;
}

/* Ensure layout uses full width */
.wrap {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
}

/* Resume-style responsive */
@media (max-width: 768px) {
  .container {
    padding: 15px;
    max-width: 100%;
  }
  
  .introduction h1 {
    font-size: 1.5em;
  }
  
  .site-nav {
    font-size: 0.85em;
    
    a {
      margin: 0 0.3em;
      padding: 0.2em 0.3em;
    }
  }
}
